:root {
  --color-primary-white: #fff;
  --color-primary-black: #121212;
  --color-primary-light-gray: #dedede;
  --color-primary-dark-gray: #575757;

  --color-secondary-white: #fcfcfc;
  --color-secondary-black: #1a1818;
  --color-secondary-gray: #9c9c9c;

  --color-accent-red: #9b4b4b;
  --color-accent-gold: #ab8956;

  --font-family-common: system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
